.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: linear-gradient(135deg, #49739e 0%, #277fd8 100%);


}
@media only screen and (max-width: 900px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem auto;
    /* width: 55%; */
    
  }
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: 1fr;
    margin: 1rem auto;
  }
  .article{
    height: 500px;
  }
}

*{
  box-sizing: border-box;
  font-size: 10px;

}

article{
  position: relative;
  width: 200px;
  height: 300px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(48, 49, 49);
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

article:hover {
  transform: translateY(-10px);
}
article p{
  font-size: 1.5rem;
}